#main-right{
	margin: 0 50px;
	width: 300px;
	min-height: 1100px;
}
.item{
	width:100%;
	height:350px;
	margin-top: 20px;
}
/*chart*/
.chart{
	width:300px;
	height:300px;
	cursor: pointer;
}
.chart1{
	width:300px;
	height:300px;
	cursor: pointer;
}
#q-month-table{
	display: block;
}
#q-week-table{
	display: none;
}
#q-day-table{
	display: none;
}
#h-month-table{
	display: block;
}
#h-week-table{
	display: none;
}
#h-day-table{
	display: none;
}
/*信息订阅*/
.subscribe-way{
	width: 300px;
	margin:0px;
}
.subscribe-icon{
	width:20px;
	height:20px;
}
.dowload-link:hover{
	text-decoration: underline;
	color:#C23636;
}
input[type='button']{
	border:1px solid #777797;
	border-radius:8px;
	font-size: 20px;
	text-align: center;
}

