body#main_page{
	background-color: #E2C20D;
}
/*整体架构*/
#header-body1{
	display:block;
	position:absolute;
	width:100%;
	min-height:300px;
	top:0px;
	left:0px;
	background-color: #FFFFFF;
}
#main-body1{
	display:block;
	width:100%;
	position: absolute;
	top:400px;
	left:0px;
}
#main-body1>img{
	position:relative;
	left:0px;
	width:16.42%;
	height:200px;
}
/*header-body*/
#static_header{
	display:block;
	width:100%;
	position: absolute;
	top:0px;
	left:0px;
}
